@model CtrlBox.UI.Web.Models.Role.RoleViewModel

@{
    ViewData["Title"] = "AssignRoleToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />
    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>

    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#ddlRoles').select2({
            placeholder: "Select a Roles",
            allowClear: true
        });   

        $("#ddlUsers").change(function (event) {
            $('#ddlRoles').val(null).trigger('change');
            $('#ddlRoles').empty().trigger("change");

            var url = '@Url.Content("~/Role/GetAjaxHandlerRoles")'
            var ddlSource = "#ddlUsers";
            $.getJSON(url, { userID: $(ddlSource).val() }, function (data) {
                $.each(data, function (index, obj) {
                    var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                    $('#ddlRoles').append(newOption).trigger('change');
                });       
            });
        });

        $('#ddlClaims').select2({
            placeholder: "Select a Claims",
            allowClear: true
        });

        $("#ddlRolesClaim").change(function (event) {
            $('#ddlClaims').val(null).trigger('change');
            $('#ddlClaims').empty().trigger("change");

            var url = '@Url.Content("~/Role/GetAjaxHandlerClaimsRoles")'
            var ddlSource = "#ddlRolesClaim";
            $.getJSON(url, { roleID: $(ddlSource).val() }, function (data) {
                $.each(data, function (index, obj) {
                    var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                    $('#ddlClaims').append(newOption).trigger('change');
                });
            });
        });

        $('#ddlClaimsUsers').select2({
            placeholder: "Select a Claims",
            allowClear: true
        });

        $("#ddlUsersClaim").change(function (event) {
            $('#ddlClaimsUsers').val(null).trigger('change');
            $('#ddlClaimsUsers').empty().trigger("change");

            var url = '@Url.Content("~/Role/GetAjaxHandlerClaimsUsers")'
            var ddlSource = "#ddlUsersClaim";
            $.getJSON(url, { userID: $(ddlSource).val() }, function (data) {
                $.each(data, function (index, obj) {
                    var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                    $('#ddlClaimsUsers').append(newOption).trigger('change');
                });
            });
        });
        
    });
</script>

<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Security</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Identity</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Policy</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-key"></i>Policy permission AspNetUserRoles</div>
                    </div>
                    <div class="portlet-body form">
                        <h3 class="block">Add roles to user</h3>
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">List users</label>
                                <div class="controls">
                                    <select id="ddlUsers" class="span6" data-placeholder="Choose a user" tabindex="1" name="UserSelected" asp-for="UserSelected" asp-items="@Model.AllUsers"> <option>Please select user</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Select some</label>
                                <div class="controls">
                                    <select id="ddlRoles" data-placeholder="Policy role" class="span6 select2" tabindex="0" multiple="multiple" name="RoleSelected"> <option>Please select roles</option></select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-key"></i>Policy permission AspNetRoleClaims</div>
                    </div>
                    <div class="portlet-body form">
                        <h3 class="block">Add claims to role</h3>
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">List roles</label>
                                <div class="controls">
                                    <select id="ddlRolesClaim" class="span6" data-placeholder="Choose a role" tabindex="1" name="RoleSelected" asp-for="RoleSelected" asp-items="@Model.AllRoles"> <option>Please select role</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Select some</label>
                                <div class="controls">
                                    <select id="ddlClaims" data-placeholder="Policy claim" class="span6 select2" tabindex="0" multiple="multiple" name="ClaimSelected"> <option>Please select claims</option></select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-key"></i>Policy permission AspNetUserClaims</div>
                    </div>
                    <div class="portlet-body form">
                        <h3 class="block">Add claims to user</h3>
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">List users</label>
                                <div class="controls">
                                    <select id="ddlUsersClaim" class="span6" data-placeholder="Choose a user" tabindex="1" name="UserSelected" asp-for="UserSelected" asp-items="@Model.AllUsers"> <option>Please select user</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Select some</label>
                                <div class="controls">
                                    <select id="ddlClaimsUsers" data-placeholder="Policy claim" class="span6 select2" tabindex="0" multiple="multiple" name="ClaimSelected"> <option>Please select claims</option></select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>

        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
