@model IEnumerable<CtrlBox.Application.ViewModel.TraceabilityVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssViews{
    <link href="~/css/pages/timeline.css" rel="stylesheet" type="text/css" />
    <link href="~/css/pages/profile.css" rel="stylesheet" />
}
<script src="~/scripts/appCtrlBox.js"></script>
<partial name="~/Views/PartialsSections/_ViewModalAddress.cshtml" />

<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Timeline</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid portfolio-block">
                    <div class="span5 portfolio-text">
                        <img src="@(((CtrlBox.Application.ViewModel.BoxVM)ViewData["BoxViewData"]).BoxType.Picture.SrcBase64Image)" />
                        <div class="portfolio-text-info">
                            <h4> <a href="#" data-role="leaf"> @(((CtrlBox.Application.ViewModel.BoxVM)ViewData["BoxViewData"]).BoxType.Name) - @(((CtrlBox.Application.ViewModel.BoxVM)ViewData["BoxViewData"]).Description)</a></h4>
                            <p>Barcode:  @(((CtrlBox.Application.ViewModel.BoxVM)ViewData["BoxViewData"]).Barcode)</p>
                        </div>
                    </div>
                </div>
                <ul class="timeline">
                    @foreach (var traceability in Model)
                    {
                        <li class="timeline-yellow">
                            <div class="timeline-time">
                                <span class="date">@traceability.CreationDate.ToString("dd/MM/yyyy")</span>
                                <span class="time">@traceability.CreationDate.ToString("hh:mm")</span>
                            </div>
                            <div class="timeline-icon">
                                @if (traceability.TraceType.Picture == null)
                                {
                                    <i class="icon-trophy"></i> }
                                else
                                {
                                    <img src="@traceability.TraceType.Picture.SrcBase64Image" />
                                }
                            </div>
                            <div class="timeline-body">
                                <h2>@traceability.TraceType.Description - @traceability.TraceType.TypeTrace</h2>
                                @if (traceability.TraceabilitiesClients.Count > 0)
                                {
                                    <div class="timeline-content">
                                        <i class="icon-map-marker"></i>
                                        @traceability.TraceabilitiesClients.First().Client.Name
                                        - <a onClick="AppCtrlBox.callModalAddress('@traceability.TraceabilitiesClients.First().Client.DT_RowId')" href="#" class="nav-link">
                                            Address <i class="m-icon-swapright m-icon-white"></i>
                                        </a>                                      
                                    </div>
                                }

                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

