@model CtrlBox.Application.ViewModel.RouteVM

@{
    ViewData["Title"] = "Home Page";
}
@section scriptsViews
    {
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
}
<script type="text/javascript">
    @{
                var routeID = ViewData["routeID"];
            }

    var _routeID = '@routeID';

    function loadTable(id, url) {

        var oTable = $(id).dataTable({
            "sAjaxSource": url,
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                            {
                                "mData": "Name"
                            },
                            {
                                "mData": "Address"
                            },
                            {
                                "mData": "Phone"
                            },
                            {
                                "mData": null,
                                "sType": "html",
                                "mRender": function (data, type, row) {
                                    if (type === 'display') {
                                        return '<input type="checkbox" name="ClientID" value="' + row.DT_RowId + '">';
                                    }
                                    return data;
                                }
                            }
            ],
            "aLengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "iDisplayLength": 5,
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }
            ]
        });

        return oTable;
    }

    function loadTables() {

        var urlCustomersAvailable = '@Url.Content("~/Route/GetAjaxHandlerClientsAvailable")?routeID=' + '@routeID';
        loadTable('#tbAdd', urlCustomersAvailable);

        var urlCustomersNotAvailable = '@Url.Content("~/Route/GetAjaxHandlerClientsNotAvailable")?routeID=' + '@routeID';
        loadTable('#tbRemove', urlCustomersNotAvailable);
    }

    (function ($) {
        $.fn.serializeFormJSON = function () {
            var lista = [];
            var a = this.serializeArray();
            $.each(a, function () {
                lista.push({ "ClientID": this.value, "RouteID": '@routeID' });
            });
            return JSON.stringify(lista);
        };
    })(jQuery);

    jQuery(document).ready(function () {
        loadTables();

        $('#btnSubmitAdd').click(function () {
            var oTableAdd = $('#tbAdd').dataTable();
            var sData = $(oTableAdd.$("input[name='ClientID']:checked")).serializeFormJSON();

            $.ajax({
                url: '@Url.Content("~/Route/PutAjaxHandlerAddClients")',
                type: 'POST',
                dataType: 'json',
                data: { clientsIDs: sData },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Complete');
                        loadTables();
                    }
                }
            });

           return false;
        });

        $('#btnSubmitRemove').click(function () {
            var oTableRemove = $('#tbRemove').dataTable();
            var sData = $(oTableRemove.$("input[name='ClientID']:checked")).serializeFormJSON();

            $.ajax({
                url: '@Url.Content("~/Route/PutAjaxHandlerRemoveClients")',
                type: 'POST',
                dataType: 'json',
                data: { clientsIDs: sData },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Complete');
                        loadTables();
                    }
                }
            });
            return false;
        });
    });
</script>

<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Route</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Route list</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Link route to clients</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <h3><strong>Route name:</strong> @Model.Name</h3>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Clientes disponíveis</div>

                    </div>
                    <div class="portlet-body">
                        <form id="form">
                            <table id="tbAdd" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>

                                        <th class="hidden-480">Telefone</th>
                                        <th>Telefone</th>
                                        <th>Vender</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                        <a href="#" id="btnSubmitAdd" class="btn green"><i class="icon-plus"></i> Adicionar</a>

                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->

            </div>
            <div class="span6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Clientes desta linha</div>

                    </div>
                    <div class="portlet-body">
                        <form id="form">
                            <table id="tbRemove" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>

                                        <th class="hidden-480">Telefone</th>
                                        <th>Telefone</th>
                                        <th>Vender</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                        @if (!Model.HasOpenDelivery)
                        {
                            <a href="#" id="btnSubmitRemove" class="btn red"><i class="icon-trash"></i> Remover</a>
                        }
                        else
                        {
                            <div class="alert">

                                <strong>Warning!</strong> Existe uma entrega em aberto.
                            </div>
                        }
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->

            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>

            </div>
        </div>

        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>