@model CtrlBox.Application.ViewModel.SaleVM

@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_LayoutInvoice.cshtml";
}

<div id="container">
    <section id="memo">
        <div class="company-name">
            <span>CtrlBox</span>
            <div class="right-arrow"></div>
        </div>
        <div class="logo">
            <img src="~/img/invoice_ctrlbox.png" />
        </div>
        <div class="company-info">
            <div>
                <span>227 Cobblestone Road</span> <span> ● 30000 Bedrock, Cobblestone County</span>
            </div>
            <div>www.dinostore.bed ● hello@dinostore.bed</div>
            <div>744 789 1234 ● 744 789 6734</div>
        </div>
    </section>
    <section id="invoice-info">
        <div>
            <span>Issue Date:</span>
            <span>Due Date:</span>
            <span>Net:</span>
            <span>P.O. #</span>
        </div>
        <div>
            <span>07/09/2019</span>
            <span>07/30/2019</span>
            <span>21</span>
            <span>1/3-147</span>
        </div>
    </section>
    <section id="client-info">
        <span>Bill to:</span>
        <div>
            <span class="bold">@Model.Client.Name</span>
        </div>
        <div>
            <span>@Model.Client.Address.Street - @Model.Client.Address.Number</span>
        </div>
        <div>
            <span>@Model.Client.Address.City @Model.Client.Address.Estate</span>
        </div>
        <div>
            <span>@Model.Client.Phone</span>
        </div>
        <div>
            <span>juliano.pestili@outlook.com</span>
        </div>
        <div>
            <span>Attn: Juliano</span>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="invoice-title-number">
        <span class="title">Invoice</span>
        <span id="number">#001</span>
    </section>
    <div class="clearfix"></div>
    <section class="items">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th></th> <!-- Dummy cell for the row number and row commands -->
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Line total</th>
            </tr>
            @foreach (var item in Model.SalesProducts)
            {
                <tr data-iterate="item">
                    <td>1</td> <!-- Don't remove this column as it's needed for the row commands -->
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.ValueProductSale</td>
                    <td>@item.DiscountValueSale</td>
                    <td>2%</td>
                    <td>@item.TotalValue</td>
                </tr>
            }
        </table>
    </section>
    <div class="currency">
        <span>* All prices are in USD</span>
    </div>
    <section id="sums">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Total:</th>
                <td>@Model.Payment.TotalValueSale</td>
            </tr>
            <tr data-iterate="tax">
                <th>Remaining Value:</th>
                <td>@Model.Payment.RemainingValue</td>
            </tr>
            <tr class="amount-total">
                <th>IsCashPayment:</th>
                <td>@Model.Payment.IsCashPayment</td>
            </tr>
            <tr data-hide-on-quote="true">
                <th>Paid:</th>
                <td>@Model.Payment.IsPaid</td>
            </tr>
        </table>
    </section>
    @if (!Model.Payment.IsCashPayment)
    {
        <div class="clearfix"></div>
        <section class="invoice-title-number">
            <span class="title">PaymentsSchedules</span>
        </section>
        <div class="clearfix"></div>
        <section class="items">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th></th> <!-- Dummy cell for the row number and row commands -->
                    <th>Value</th>
                    <th>Method</th>
                    <th>ExprireDate</th>
                    <th>RealizedDate</th>
                </tr>
                @foreach (var item in Model.Payment.PaymentsSchedules)
                {
                    <tr>
                        <td>1</td> <!-- Don't remove this column as it's needed for the row commands -->
                        <td>@item.BenefitValue</td>
                        <td>@item.PaymentMethod.MethodName</td>
                        <td>@item.ExprireDateFormat</td>
                        <td>@item.RealizedDate</td>
                    </tr>
                }
            </table>
        </section>
    }
    <div class="clearfix"></div>
    <section id="terms">
        <span>Terms & Notes</span>
        <div>
            Fred, thank you very much. We really appreciate your business.
            Please send payments before the due date.
        </div>
    </section>
    <div class="payment-info">
        <div>Payments:</div>
        <div>ACCOUNT NUMBER — 123006705</div>
        <div> ● IBAN — US100000060345</div>
        <div> ● SWIFT — BOA447</div>
    </div>
</div>


