@model CtrlBox.Application.ViewModel.SaleVM

@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_LayoutInvoice.cshtml";
}

<div id="container">
    <section id="memo">
        <div class="company-name">
            <span>CtrlBox</span>
            <div class="right-arrow"></div>
        </div>
        <div class="logo">
            <img src="~/img/invoice_ctrlbox.png" />
        </div>
        <div class="company-info">
            <div>
                <span>227 Cobblestone Road</span> <span> ● 30000 Bedrock, Cobblestone County</span>
            </div>
            <div>www.dinostore.bed ● hello@dinostore.bed</div>
            <div>744 789 1234 ● 744 789 6734</div>
        </div>
    </section>
    <section id="invoice-info">
        <div>
            <span>Issue Date:</span>
            <span>Due Date:</span>
            <span>Net:</span>
            <span>P.O. #</span>
        </div>
        <div>
            <span>07/09/2019</span>
            <span>07/30/2019</span>
            <span>21</span>
            <span>1/3-147</span>
        </div>
    </section>
    <section id="client-info">
        <span>Bill to:</span>
        <div>
            <span class="bold">Slate Rock and Gravel Company</span>
        </div>
        <div>
            <span>222 Rocky Way</span>
        </div>
        <div>
            <span>30000 Bedrock, Cobblestone County</span>
        </div>
        <div>
            <span>+555 7 123-5555</span>
        </div>
        <div>
            <span>fred@slaterockgravel.bed</span>
        </div>
        <div>
            <span>Attn: Fred Flintstone</span>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="invoice-title-number">
        <span id="title">Invoice</span>
        <span id="number">#001</span>
    </section>
    <div class="clearfix"></div>
    <section id="items">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th></th> <!-- Dummy cell for the row number and row commands -->
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Line total</th>
            </tr>
            @foreach (var item in Model.SalesProducts)
            {
                <tr data-iterate="item">
                    <td>1</td> <!-- Don't remove this column as it's needed for the row commands -->
                    <td>@item.Quantity</td>
                    <td>@item.Product.Name</td>
                    <td>@item.ValueProductSale</td>
                    <td>@item.DiscountValueSale</td>
                    <td>2%</td>
                    <td>@item.TotalValue</td>
                </tr>
            }
        </table>
    </section>
    <div class="currency">
        <span>* All prices are in USD</span>
    </div>
    <section id="sums">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Subtotal:</th>
                <td>{amount_subtotal}</td>
            </tr>
            <tr data-iterate="tax">
                <th>Tax 1:</th>
                <td>{tax_value}</td>
            </tr>
            <tr class="amount-total">
                <th>Total:</th>
                <td>{amount_total}</td>
            </tr>
            <tr data-hide-on-quote="true">
                <th>Paid:</th>
                <td>{amount_paid}</td>
            </tr>
            <tr data-hide-on-quote="true">
                <th>Amount Due:</th>
                <td>{amount_due}</td>
            </tr>
        </table>
    </section>
    <div class="clearfix"></div>
    <section id="terms">
        <span>Terms & Notes</span>
        <div>
            Fred, thank you very much. We really appreciate your business.
            Please send payments before the due date.
        </div>
    </section>
    <div class="payment-info">
        <div>Payments:</div>
        <div>ACCOUNT NUMBER — 123006705</div>
        <div> ● IBAN — US100000060345</div>
        <div> ● SWIFT — BOA447</div>
    </div>
</div>


