
@{
    ViewData["Title"] = "ViewDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scriptsViews
    {
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
}

<partial name="~/Views/PartialsSections/_ViewModalAddress.cshtml" />

<script type="text/javascript">
            @{ var deliveryID = ViewData["DeliveryID"];
                var routeID = ViewData["RouteID"];
            }


    function loadTable() {

         var url = '@Url.Content("~/Delivery/GetAjaxHandlerViewDelivery")?deliveryID=' + '@deliveryID';

        var oTable = $('#tbClients').dataTable({
            "sPaginationType": "full_numbers",
            "sAjaxSource": url,
            "bProcessing": true,
            "bAutoWidth": false,
            "bDestroy": true,
            "aoColumns": [
                    {
                        "mData": "Name"
                    },
                    {
                        "mData": null,
                        "sType": "html",
                        "mRender": function (data, type, row) {
                            if (type === 'display') {
                                var id = row.AddressID;
                                return '<label onClick="AppCtrlBox.callModalAddress(\'' + id + '\')" class="btn mini"><i class="icon-link"></i> Address</label>';
                            }
                            return data;
                        }
                    },
                    {
                        "mData": "Phone"
                    },
                    {
                        "mData": "Contact"
                    },
                    {
                        "mData": null,
                        "sType": "html",
                        "bSortable": false,
                        "sClass": "calc",
                        "mRender": function (data, type, row) {
                            if (type === 'display') {
                                var url = '@Url.Action("Index", "Sale")?clienteID=' + row.DT_RowId + '&linhaID=' + '@routeID' + '&entregaID=' + '@deliveryID';
                                var link = '<a href="' + url + '" class="btn mini"><i class="icon-shopping-cart"></i> Sale</a>';

                                if (row.SaleVM !== null && row.SaleVM.IsFinished) {
                                    link = '<a href="' + url + '" class="btn mini"><i class="icon-eye-open"></i> View</a>';
                                    url = '@Url.Action("Invoice", "Sale")?saleID=' + row.SaleVM.DT_RowId
                                    link += '<a href="' + url + '" class="btn mini" target="_blank"><i class="icon-print"></i> Invoice</a>';
                                }

                                return link;
                            }
                            return data;
                        }
                    },
                    {
                        "mData": null,
                        "sType": "html",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            if (type === 'display' || type === 'filter') {
                                var status = 'warning';
                                var texto = "Pendente";

                                if (row.SaleVM.IsFinished) {
                                    status = 'success';
                                    texto = "Entregue"
                                }

                                return '<span class="label label-' + status + '">' + texto + '</span>';
                            }
                            return data;
                        }
                    }
            ],
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": function (json) {
                        if (!json.NotAuthorized) {
                            var obj = $.parseJSON(JSON.stringify(json));

                            $('#qtdeEntrega').DataTable({
                                "data": obj.xaData,
                                "bPaginate": false,
                                "bAutoWidth": false,
                                bFilter: false, bInfo: false,

                                "aoColumns": [
                                                    {
                                                        "mData": null,
                                                        "sType": "html",
                                                        "bSortable": false,
                                                        "mData": function (data, type, row) {
                                                            if (type === 'display') {
                                                                if (data.PictureID === '' || data.PictureID === null) {
                                                                    return '<img style="width:15px; height: 15px;"  src="/../img/avatar.png" /> ' + data.BoxType;
                                                                }
                                                                return '<img  src="/../Configuration/ViewImage/' + data.PictureID + '" /> ' + data.BoxType;
                                                            }
                                                            return data;
                                                        }
                                                    },
                                                   {
                                                        "mData": null,
                                                        "sType": "html",
                                                        "bSortable": false,
                                                        "mRender": function (data, type, row) {
                                                            if (type === 'display') {
                                                                var statusStock = "green-stripe";
                                                                if (row.TotalBox <= 5) {
                                                                    statusStock = "red-stripe"
                                                                }
                                                                return '<span class="btn mini ' + statusStock + '">Total: ' + row.TotalBox + '</span>';
                                                            }
                                                            return data;
                                                        }
                                                   },
                                                    {
                                                        "mData": null,
                                                        "sType": "html",
                                                        "bSortable": false,
                                                        "mRender": function (data, type, row) {
                                                            if (type === 'display') {
                                                                return '<span class="btn mini">Total: ' + row.TotalProductItems + '</span>';
                                                            }
                                                            return data;
                                                        }
                                                    }
                                              ]
                            });

                            $('#tbDespesas').dataTable({
                                "data": obj.xbData,
                                "bPaginate": false,
                                "bAutoWidth": false,
                                bFilter: false, bInfo: false,
                                "aoColumns": [
                                                  {
                                                      "mData": "Description",
                                                      data: null,
                                                      "bSortable": false
                                                  },
                                                   {
                                                       "mData": "Value",
                                                       "bSortable": false
                                                   }]
                            });
                        }
                        fnCallback(json);
                    },
                    "error": handleAjaxError
                });
            }
        });
    }
    jQuery(document).ready(function () {
        loadTable();
        var rowID = 0;
        //Salva linha de cheque
        $("#target").click(function (event) {

            var tb = $('#tbDespesas').DataTable();
            var rowADD = {
                "Descricao": $("#numeroCheque").val(),
                "Valor": $("#mask_currency").val().replace(/[^0-9\,]+/g, "").replace(",", ".")
            };
            tb.row.add(rowADD).draw();
            var desc = $("#numeroCheque").val();
            var val = $("#mask_currency").val().replace(/[^0-9\,]+/g, "").replace(",", ".");

            $.ajax({
                url: '@Url.Content("~/Delivery/SubmitDespesa")',
                type: 'POST',
                dataType: 'json',
                data: { entregaID: '@deliveryID', descricao : desc, valor : val },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Complete');

                        $("#btnClose").trigger("click");
                    }
                },
                "error": handleAjaxError
            });
        });

        //Seleciona uma linha de cheque para excluir
        $('#tbDespesas tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                var tb = $('#tbDespesas').DataTable();
                tb.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        //Exclui linha de cheque
        $('#deleteRow').click(function () {
            var tb = $('#tbDespesas').DataTable();
            tb.row('.selected').remove().draw(false);
        });
    });
</script>

<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-body">
            <!-- BEGIN FORM-->
            <h3 class="form-section">Cadastro de cheque</h3>
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label" for="numeroCheque">Número do cheque</label>
                        <div class="controls">
                            <textarea id="numeroCheque" class="medium m-wrap" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label">Valor</label>
                        <div class="controls">
                            <input class="span6 m-wrap" id="mask_currency" type="text" />
                            <span class="help-inline">Ex.: R$ 9.999.999,00</span>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->
            <div class="modal-footer">
                <button type="button" id="btnClose" data-dismiss="modal" class="btn">Close</button>
                <button type="button" id="target" class="btn blue">Save changes</button>
            </div>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Delivery</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Index</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Execute delivery</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <h3><strong>Route name:</strong> @ViewData["RouteName"]</h3>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Clients</div>
                    </div>
                    <div class="portlet-body">
                        <table id="tbClients" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Endereço</th>
                                    <th class="hidden-480">Telefone</th>
                                    <th>Contato</th>
                                    <th>Vender</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Despesas</div>
                        <div class="actions">
                            <a href="#portlet-config" data-toggle="modal" class="config btn gray"><i class="icon-plus"></i> Add</a>
                            <a id="deleteRow" class="btn"><i class="icon-remove"></i> Remover</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="tbDespesas" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            <div class="span6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Carregado no caminhão</div>

                    </div>
                    <div class="portlet-body">
                        <table id="qtdeEntrega" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Boxes Type</th>
                                    <th>Quantity</th>
                                    <th>Product Items</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>

        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

