<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <title>CtrlBox | Full control</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="CtrlBox" />
    <meta content="" name="Juliano Cesar Pestili" />

    <partial name="~/Views/PartialsSections/_CSS.cshtml" />
    @RenderSection("cssViews", required: false)
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <partial name="~/Views/PartialsSections/_Scripts.cshtml" />
    @RenderSection("scriptsViews", required: false)

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- BEGIN LOGO -->
                <a class="brand" target="_blank" href="#">
                    <img src="~/img/logo_ctrlbox.png" alt="logo" />
                </a>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <img src="~/img/menu-toggler.png" alt="" />
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav pull-right">

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" src="~/img/jcp.jpg" />
                            <span class="username">@User.Identity.Name!</span>
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
                            <li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
                            <li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox <span class="badge badge-important">3</span></a></li>
                            <li><a href="#"><i class="icon-tasks"></i> My Tasks <span class="badge badge-success">8</span></a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
                            <li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>
                            <li>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input class="btn btn-default btn-flat" type="submit" value="Logout" />
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar nav-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu">
                <li>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler hidden-phone"></div>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                </li>
                <li>
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a href="javascript:;" class="remove"></a>
                            <input type="text" placeholder="Search..." />
                            <input type="button" class="submit" value=" " />
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>
                @if (User.IsInRole(CtrlBox.Domain.Security.RoleAuthorize.Driver.ToString()))
                {
                    <li class="start ">
                        <a asp-action="Index" asp-controller="Delivery">
                            <i class="icon-truck"></i>
                            <span class="title">Deliveries</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="start ">
                        <a href="index.html">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-dropbox"></i>
                            <span class="title">Boxes</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Boxes", "Index", "Box")
                            </li>
                            <li>
                                @Html.ActionLink("Boxes Type", "BoxesType", "Box")
                            </li>
                            <li>
                                @Html.ActionLink("Picture", "Index", "Configuration")
                            </li>
                            <li>
                                @Html.ActionLink("Tracking Types", "TrackingTypes", "Tracking")
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole(CtrlBox.Domain.Security.RoleAuthorize.Admin.ToString()))
                    {
                        <li>
                            <a href="javascript:;">
                                <i class="icon-lock"></i>
                                <span class="title">Security</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Users", "Index", "Manage")
                                </li>
                                <li>
                                    @Html.ActionLink("Permissions", "Index", "Role")
                                </li>
                                <li>
                                    @Html.ActionLink("Login", "Login", "Account")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-android"></i>
                                <span class="title">Mobile</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("BoxCreate", "BoxCreate", "Mobile")
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Registrations</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Addresses", "Index", "Address")
                            </li>
                            <li>
                                @Html.ActionLink("Clients", "Index", "Client")
                            </li>
                            <li>
                                @Html.ActionLink("Routes", "Index", "Route")
                            </li>
                            <li>
                                @Html.ActionLink("Products", "Index", "Product")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Stuffs</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Stocks</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Expeditions</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Transports</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Deliveries</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Sales</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Controls</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Index", "Index", "Controller")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Work</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Deliveries", "Index", "Delivery")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span class="title">Relatórios</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @Html.ActionLink("Produtos vendidos", "ProdutosVendidos", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Entregas realizadas", "Clientes", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Vendas realizadas", "Clientes", "Home")
                            </li>
                        </ul>
                    </li>
                }

            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="modalError" class="modal container hide fade" tabindex="-1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3>Error</h3>
            </div>
            <div class="modal-body">
                <div id="modalErrorbody"></div>
                <div class="accordion in collapse" id="accordion1" style="height: auto;">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a id="titleError" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">
                                <i class="icon-angle-left"></i>

                            </a>
                        </div>
                        <div id="collapse_1" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Close</button>
            </div>
        </div>

        @if (ViewData["Notifications"] != null)
        {
            <partial name="~/Views/Modals/_ViewPartialNotifications.cshtml" />
        }

    </div>
    @RenderBody()
    <!-- END PAGE -->
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            copyright &copy 2019 Juliano C. Pestili  ;
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->
</body>
<!-- END BODY -->
</html>
